body {
	background-color: #ffffff;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#img-circle {
	border-radius: 50%;
	display: block;
	margin: 200px auto 0 auto;
}

a {
	color: #000000;
}

a:hover {
	color: #0098ff;
}

h2 {
	padding-top: 5px;
}

p {
	line-height: 5px;
}
